<section
  class="wrapper image-wrapper bg-image bg-overlay bg-overlay-400 bg-content text-white"
  [ngStyle]="{ 'background-image': 'url(/assets/img/photos/bg4.jpg)' }"
>
  <div class="container pt-18 pb-16" style="z-index: 5; position: relative">
    <div class="row gx-0 gy-12 align-items-center">
      <div
        class="col-md-10 offset-md-1 offset-lg-0 col-lg-6 content text-center text-lg-start"
      >
        @if (data) {
        <h1 class="display-2 mb-5 text-white">{{ data["Hero"]?.title }}</h1>
        <p class="lead fs-lg lh-sm mb-7 pe-xl-10">
          {{ data["Hero"]?.desc }}
        </p>
        }@else {
        <h2>fetch data</h2>
        }
        <div class="d-flex justify-content-center justify-content-lg-start">
          <span
            ><a href="#" class="btn btn-lg btn-white rounded-pill me-2"
              >Explore Now</a
            ></span
          >
          <span
            ><a href="#" class="btn btn-lg btn-outline-white rounded-pill"
              >Contact Us</a
            ></span
          >
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="item">
              <img
                src="/assets/img/photos/about21.jpg"
                srcset="./assets/img/photos/about21@2x.jpg 2x"
                class="rounded"
                alt=""
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <a
                href="/assets/media/movie.mp4"
                class="btn btn-circle btn-white btn-play ripple mx-auto mb-5 position-absolute"
                style="
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  z-index: 3;
                "
                data-glightbox
                data-gallery="hero"
              >
                <i class="icn-caret-right"></i>
              </a>
              <img
                src="/assets/img/photos/about22.jpg"
                srcset="./assets/img/photos/about22@2x.jpg 2x"
                class="rounded"
                alt=""
              />
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="item">
              <img
                src="/assets/img/photos/about23.jpg"
                srcset="./assets/img/photos/about23@2x.jpg 2x"
                class="rounded"
                alt=""
              />
            </div>
          </ng-template>
        </owl-carousel-o>
        <div
          class="basic-slider owl-carousel dots-over shadow-lg"
          data-nav="true"
          data-margin="5"
        ></div>
      </div>
    </div>
  </div>
</section>
