<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center mb-14 mb-md-17">
  <div class="col-lg-7">
    <figure>
      <img
        class="w-auto"
        src="./assets/img/illustrations/i11.png"
        srcset="./assets/img/illustrations/i11@2x.png 2x"
        alt=""
      />
    </figure>
  </div>
  <!--/column -->
  <div class="col-lg-5">
    <h2 class="fs-15 text-uppercase text-primary mb-3">
      Pourquoi nous choisir?
    </h2>
    <h3 class="display-4 mb-7">
      Nous apportons des solutions pour faciliter la vie de nos clients.
    </h3>
    <div class="accordion accordion-wrapper" id="accordionExample">
      <div class="card plain accordion-item">
        <div class="card-header" id="headingOne">
          <button
            class="accordion-button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            Conception professionnelle
          </button>
        </div>
        <!--/.card-header -->
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
        >
          <div class="card-body">
            <p>
              Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
              nibh, ut fermentum massa justo sit amet risus. Cras mattis
              consectetur purus sit amet fermentum. Praesent commodo cursus
              magna, vel.
            </p>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.accordion-collapse -->
      </div>
      <!--/.accordion-item -->
      <div class="card plain accordion-item">
        <div class="card-header" id="headingTwo">
          <button
            class="collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Support de haute qualité
          </button>
        </div>
        <!--/.card-header -->
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
        >
          <div class="card-body">
            <p>
              Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
              nibh, ut fermentum massa justo sit amet risus. Cras mattis
              consectetur purus sit amet fermentum. Praesent commodo cursus
              magna, vel.
            </p>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.accordion-collapse -->
      </div>
      <!--/.accordion-item -->
      <div class="card plain accordion-item">
        <div class="card-header" id="headingThree">
          <button
            class="collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            Options d'en-tête et de curseur
          </button>
        </div>
        <!--/.card-header -->
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          aria-labelledby="headingThree"
          data-bs-parent="#accordionExample"
        >
          <div class="card-body">
            <p>
              Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
              nibh, ut fermentum massa justo sit amet risus. Cras mattis
              consectetur purus sit amet fermentum. Praesent commodo cursus
              magna, vel.
            </p>
          </div>
          <!--/.card-body -->
        </div>
        <!--/.accordion-collapse -->
      </div>
      <!--/.accordion-item -->
    </div>
    <!--/.accordion -->
  </div>
  <!--/column -->
</div>
