<app-header />
<router-outlet>
  <app-hero></app-hero>
  <div class="container py-14 py-md-17">
    <section class="wrapper bg-light">
      <app-what-we-do></app-what-we-do>
    </section>
    <section class="wrapper bg-light">
      <app-why-choose-us></app-why-choose-us>
    </section>
    <section class="wrapper bg-light">
      <app-our-solutions></app-our-solutions>
    </section>
  </div>
  <div class="wrapper bg-gray">
    <div class="container py-14 pt-md-0 pb-md-16">
      <section>
        <app-statistic></app-statistic>
      </section>
      <section>
        <app-case-studies></app-case-studies>
      </section>
    </div>
  </div>
</router-outlet>
