<div class="row mt-md-n50p text-white text-center">
  <div class="col-xl-10 mx-auto mb-14 mb-lg-n6">
    <div class="card image-wrapper bg-full bg-image bg-overlay bg-overlay-400" [ngStyle]="{'background-image': 'url(./assets/img/photos/bg2.jpg)'}">
      <div class="card-body p-9 p-xl-12">
        <div class="row gx-0">
          <div class="col-xxl-9 mx-auto">
    
                   <owl-carousel-o [options]="testimonyOptions" class="">
          <ng-template carouselSlide>
              <span class="item">
                <span class="ratings five mb-3"></span>
                <blockquote class="border-0 fs-lg mb-2">
                  <p class="text-white">“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                  <div class="blockquote-details justify-content-center text-center">
                    <div class="info ps-0">
                      <h5 class="mb-1 text-white">Coriss Ambady</h5>
                      <p class="mb-0 text-white">Financial Analyst</p>
                    </div>
                  </div>
                </blockquote>
              </span>
              </ng-template>
                <ng-template carouselSlide>
              <!-- /.item -->
              <span class="item">
                <span class="ratings five mb-3"></span>
                <blockquote class="border-0 fs-lg mb-2">
                  <p class="text-white">“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                  <div class="blockquote-details justify-content-center text-center">
                    <div class="info ps-0">
                      <h5 class="mb-1 text-white">Cory Zamora</h5>
                      <p class="mb-0 text-white">Marketing Specialist</p>
                    </div>
                  </div>
                </blockquote>
              </span>
              </ng-template>
                <ng-template carouselSlide>
              <!-- /.item -->
              <span class="item">
                <span class="ratings five mb-3"></span>
                <blockquote class="border-0 fs-lg mb-2">
                  <p class="text-white">“Vivamus sagittis lacus augue laoreet rutrum faucibus auctor vestibulum ligula porta felis, euismod semper cras justo odio consectetur.”</p>
                  <div class="blockquote-details justify-content-center text-center">
                    <div class="info ps-0">
                      <h5 class="mb-1 text-white">Nikolas Brooten</h5>
                      <p class="mb-0 text-white">Sales Manager</p>
                    </div>
                  </div>
                </blockquote>
              </span>
              </ng-template>
                   </owl-carousel-o>
              <!-- /.item -->
            </div>
      <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!--/.card-body -->
    </div>
    <!--/.card -->
  </div>
  <!-- /column -->
</div>
